.shop {
  width: 100%;
  height: 700px;
  background-color: #f7f7f7;
  margin: 0 auto;
  text-align: center;
}

.shop h1 {
  display: inline-block;
  margin: 40px 0 10px 0;
  font-size: 30px;
  font-weight: 400;
}

.shop p {
  letter-spacing: 1.5px;
}

.cardHolder {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  margin: 0 10px;
  width: 300px;
  height: 480px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.25s ease;
}

.card:hover {
  -webkit-box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  -moz-box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
}

.card > p {
  margin-top: 40px;
  font-size: 15px;
}

.card img {
  margin-top: 30px;
  width: 280px;
  height: 280px;
}

.btnWrapper {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.tooltip {
  display: inline-block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  background-color: #f7f7f7;
  border-radius: 4px;
  transition: background-color 0.25s ease;
}

.tooltip:hover {
  background-color: #2268a1;
}

.btn {
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgb(209, 70, 28);
  color: white;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.btn:hover {
  background-color: rgb(145, 48, 19);
}

.cardInfo {
  z-index: -1;
  transition: all 0.4s ease;
  opacity: 0;
  background-color: white;
  line-height: 25px;
  border-radius: 2px;
  position: absolute;
  top: 70px;
  left: -15px;
  width: 108%;
  -webkit-box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  -moz-box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  box-shadow: 1px 1px 5px 2px rgb(228, 228, 228);
  font-size: 14px;
}

.cardHeader {
  text-transform: uppercase;
}

.cardInfoShow {
  z-index: 1;
  transform: translateY(-20px);
  opacity: 1;
}

.cardInfo ul {
  text-align: left;
}

.imgBtn {
  z-index: 100;
  margin: 0 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.green {
  background-color: #06a594;
}

.orange {
  background-color: rgb(254, 131, 68);
}

.blue {
  background-color: rgb(22, 102, 166);
}
